# Pandas Tutorial for Beginners

Pandas è il tool più usato nell'analisi dei dati

Pandas deriva dal termine **panel data**

Se vuoi una carriera nella Data Science, Pandas è la prima cosa che devi imparare!

A cosa serve Pandas:
- calcolo delle statistiche e risposte a domande sui dati
- pulizia dei dati e filtraggio di questi
- visualizzazione dei dati con l'ausilio di Matplotlib, plot, lines e istogrammi
- memorizzare i dati rielaborati sui files es.CSV

Per un data scientist Pandas non è l'unico strumento essenziale, esistono anche librerie importanti come **Numpy**, **SciPy**,
**Matplotlib**.

Pandas si può usare bene su Jupyter Notebooks!

Per installare Pandas:
        **pip install pandas**

Per importare pandas nei propri script: **import pandas as pd**

I compoenenti **Core** di Pandas sono le **Serie** e i **Dataframe**.

**Serie**: è essenzialmente una colonna

**Dataframe**: è una tabella multidimensionale creato come collezione di serie

In [11]:
import pandas as pd

# creare un dataframe da zero
data = {
    'apples': [3,2,0,1],
    'oranges': [0,3,7,2]
}

data

{'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2]}

In [12]:
purchases = pd.DataFrame(data)

In [13]:
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [14]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [15]:
# locate a customer
purchases.loc['June']

apples     3
oranges    0
Name: June, dtype: int64

In [16]:
import pathlib
pathlib.Path().absolute()

WindowsPath('C:/progetti/corso-python-formaweb/lezione_3')

In [17]:
df = pd.read_csv('purchase.csv')

In [18]:
df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [19]:
df = pd.read_csv('purchase.csv', index_col=0)

In [ ]:
df